:root {
    --bg-color: #020202;
    --logo-height: 33px;
    --icon-padding: 0 20px;
    --color: #3DC6EF;
}

body {
    background-color: var(--bg-color);
    margin: 0;
    font-family: Helvetica, Arial, sans-serif;
}

.navbar {
    margin-top: 25px;
    padding-left: 70px;
    width: 90%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo img {
    height: var(--logo-height);
}

.DivRight {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.DivRight img {
    padding: var(--icon-padding);
}

.DivRight img:hover {
    cursor: pointer;
}

.man {
    background-image: url("./images/background-plane.jpg");
    background-size: cover;
    width: 90%;
    height: 720px;
    margin: 70px;
    align-items: center;

}

.content {
    width: 450px;
}

.content h1 {
    color: var(--color);

}

.content p {
    color: rgb(255, 255, 255);

}

.content button {
    color: var(--color);
    background-color: black;
    border: 1px solid #3DC6EF;
    padding: 10px 20px;
    cursor: pointer;

}

.content button:hover {
    color: rgb(3, 3, 3);
    background-color: aqua;
}

.throht {
    display: flex;
    margin-top: -450px;
    width: 100%;
    height: 130px;
    background-color: var(--color);
    align-items: center;
    justify-content: center;
}

.throht ul {
    display: flex;
    list-style: none;
    padding: 0;
    margin: 0;
}

.throht ul li {
    width: 110px;
    list-style: none;
    float: left;
    text-align: center;
    margin-right: 20px;
}

.throht ul li img {
    width: 50%;

}

.throht ul li p {
    font-size: 0.65em;
    color: rgb(255, 255, 254);

}

.throht ul li {
    color: rgb(255, 255, 254);
    padding: 30px 20px;
}

.throht-item1 {
    background-color: #020202;
    padding: 30px 20px;
}

.ones-list {
    margin: 0 auto;
   
}

.one {
    float: left;
    margin-left: 20px;
    margin-right: 10px;
    font-size: 70px;
    color: #FFD220;
}

.hash {
    font-size: 30px;
    color: #FFD220;
}

.ones-text {
    color: #e1e1e1;
    padding-top: 20px;
    font-size: 15px;
}

.learn-more {
    color: var(--color);
    text-decoration: none;
    font-size: 11px;
}

.learn-more:hover {
    text-decoration: underline;


}

.one-group {
    margin-left: 10px;
    width: 32%;
    float: left;
}
